/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/open-sans-v18-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v18-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/open-sans-v18-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v18-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/open-sans-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../fonts/open-sans-v18-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v18-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
body {
  margin: 12px;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  height: 100%;
  background: linear-gradient(to bottom, #2b32b2 0, #1488cc 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.location-and-date {
  width: 100%;
}
.location-and-date__location {
  margin: 0;
  font-size: 2em;
  font-weight: 600;
}
.current-temperature {
  display: flex;
  margin-top: 0.25em;
  width: 100%;
}
.current-temperature__icon-container {
  flex-grow: 1.25;
  text-align: center;
}
.current-temperature__content-container {
  flex-grow: 1;
  text-align: center;
}
.current-temperature__icon {
  width: 10.5em;
}
.current-temperature__value {
  font-size: 5.25em;
  font-weight: 300;
}
.current-temperature__summary {
  margin-top: -0.5em;
  margin-left: -0.6em;
  text-align: center;
  font-size: 1.125em;
}
.current-stats {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1em;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.current-stats__value {
  margin-top: 1em;
  font-size: 1.44em;
}
.current-stats__label {
  color: rgba(255, 255, 255, 0.6);
}
.weather-by-hour {
  display: none;
  width: 100%;
}
.weather-by-hour__container {
  display: flex;
  justify-content: space-between;
}
.next-5-days__heading,
.weather-by-hour__heading {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1em;
  font-weight: 400;
}
.weather-by-hour__item {
  padding: 0.8em 0;
  width: 13%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 1.125em;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.weather-by-hour__item:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.weather-by-hour__hour {
  margin-bottom: 0.5em;
}
.weather-by-hour__item div {
  position: relative;
  bottom: 0;
}
.next-5-days {
  width: 100%;
  margin-top: 1em;
}
.next-5-days__container {
  display: flex;
  flex-wrap: wrap;
}
.next-5-days__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.3em;
  padding: 0.8em 0;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.19em;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.next-5-days__row:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #f1f1f1;
}
.next-5-days__label {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.83em;
}
.next-5-days__date,
.next-5-days__high,
.next-5-days__icon,
.next-5-days__low,
.next-5-days__rain,
.next-5-days__wind {
  width: 33.33333%;
  font-size: 0.95em;
}
.next-5-days__date,
.next-5-days__high,
.next-5-days__low {
  margin-bottom: 0.6em;
}
@media screen and (min-width: 700px) {
  body {
    margin: 20px;
  }
}
@media screen and (min-width: 920px) {
  .container {
    width: 880px;
    margin: 8px auto;
    font-size: 1.1em;
  }
}
@media screen and (min-width: 700px) {
  .current-stats {
    margin-bottom: 1em;
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
}
@media screen and (min-width: 700px) {
  .current-stats,
  .current-temperature {
    width: 50%;
  }
}
@media screen and (min-width: 700px) {
  .weather-by-hour {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .next-5-days__heading,
  .weather-by-hour__heading {
    font-size: 1.125em;
  }
}
@media screen and (min-width: 880px) {
  .weather-by-hour__item {
    width: 6.05em;
  }
}
@media screen and (min-width: 450px) {
  .next-5-days__date,
  .next-5-days__high,
  .next-5-days__icon,
  .next-5-days__low,
  .next-5-days__rain,
  .next-5-days__wind {
    width: 16.666666%;
    margin-bottom: initial;
  }
  .next-5-days__date {
    order: -2;
  }
  .next-5-days__icon {
    order: -1;
  }
}
